<section data-ng-controller="HomeController">
  <div class="jumbotron home-top">
      <div class="container">
        <h1><span class="purple">D</span>irty <span class="purple">D</span>iapers</h1>
        <p>Track your babies dirty diapers with just a click!</p>
        <p><a class="btn btn-primary btn-lg signin" href="/#!/signin" role="button">Sign-In &raquo;</a>
        <a class="btn btn-primary btn-lg signup" href="/#!/signup" role="button">Sign-Up &raquo;</a></p>
      </div>
    </div>

    <div class="container home-bottom">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <div class="services">
          <h2>Tracking</h2>
          <h4>What Would You Like To Track?</h4>

          <p>Track their feeding times and track dirty or wet diapers with only a click. Recieve notifications when it may be advised you should consult with your pediatrician and schedule appointments. Help at the reach of your figertips</p>

    
        
            <a class="btn btn-primary btn-lg track" href="/#!/" role="button">Feeding Times</a>
         

            <a class="btn btn-primary btn-lg track" href="/#!/" role="button">Diapers</a>
          
    

    
    </div>
        </div>
        </div>
      
    </div>

      <hr>

      <footer>
        <p>&copy; Dirty Diapers 2015. All Rights Reserved</p>
      </footer>
    </div> <!-- /container -->
</section>